<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin Wallet</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="static/3rdparty/mustache.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="static/styles.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.2/less.min.js"></script>

    <script type="text/template" data-name="bitcoinBalance">
      {% raw %}
        <div class="balance">
          <span class="balanceBtc">{{bitcoins}} BTC</span>
          <span class="balanceApproxUSD">&asymp; {{dollars}} USD</span>
        </div>
      {% endraw %}
    </script>
    <script type="text/template" data-name="transactionList">
      {% raw %}
        <div class="transactionList">
          <table class="table">
            <tr>
              <th>Transaction</th>
              <th>Date</th>
              <th class="hidden-xs">Address</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
            {{#transactions}}
              <tr class="hoverRow transaction" data-txid="{{txid}}">
                <td>
                  {{#issend}}
                    <span class="glyphicon glyphicon-arrow-right negative"></span>
                  {{/issend}}
                  {{#isreceive}}
                    <span class="glyphicon glyphicon-arrow-left positive"></span>
                  {{/isreceive}}
                  {{description}}
                </td>
                <td><span class="transactionTime">{{timestring}}</span></td>
                <td class="hidden-xs">{{address}}</td>
                <td><span class="status {{statuscode}}">{{status}}</span></td>
                <td>
                  <span class="amount {{#amtpos}}positive{{/amtpos}}{{^amtpos}}negative{{/amtpos}}">
                    {{amount}}
                  </span>
                </td>
              </tr>
            {{/transactions}}
          </table>
        </div>
      {% endraw %}
    </script>
    <script type="text/template" data-name="addressList">
      {% raw %}
        <div class="addressList">
          <table class="table">
            <tr>
              <th>Address</th>
              <th>Balance</th>
              <th class="hidden-xs">Transaction IDs</th>
            </tr>
            {{#addresses}}
              <tr>
                <td>
                  <span class="hidden-xs">
                    <a href="javascript:" class="addressLink" data-address="{{address}}">{{address}}</a>
                  </span>
                  <span class="visible-xs">
                    <a href="javascript:" class="addressLink" data-address="{{address}}">{{elidedAddress}}</a>
                  </span>
                </td>
                <td><span class="amount positive">{{amount}}</span></td>
                <td class="hidden-xs">
                  {{#txlist}}
                    <a href="https://blockchain.info/tx/{{id}}" class="transactionLink" target="_blank">{{id}}</a><br/>
                  {{/txlist}}
                </td>
              </tr>
            {{/addresses}}
          </table>
        </div>
      {% endraw %}
    </script>
    <script type="text/template" data-name="sendButton">
      <div>
        <button class="btn btn-primary sendButton">Send</button>
      </div>
    </script>
    <script type="text/template" data-name="confirmSendButton">
      <div>
        <button type="button" class="close" aria-hidden="true">&times;</button>
        Are you sure?
        <button class="btn btn-primary confirmSendButton">Yes</button>
      </div>
    </script>
    <script type="text/template" data-name="addressModal">
      {% raw %}
        <div class="modal fade addressModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">x</button>
                <h4>Bitcoin Address</h4>
              </div>
              <div class="modal-body">
                <div class="qrcodeContainer">
                  <img src="{{qrcodeUri}}"/>
                </div>
                <div class="addressContainer">
                  {{! Maybe use Clippy to copy to clipboard? https://github.com/mojombo/clippy }}
                  <input type="text" class="form-control" value="{{address}}" onclick="this.select()">
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endraw %}
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Bitcoin Wallet</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#sendBitcoin">Send Bitcoin</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Current Balance</h3>
          <div class="balanceContainer">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Transactions</h3>
          <div class="transactionListContainer">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h3>Addresses</h3>
          <div class="addressListContainer">
          </div>
          <div class="addressActions">
            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Account Name"/>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-default">Get New Address</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {#
      <div class="row" id="sendBitcoin">
        <div class="col-md-4">
          <h3>Send Bitcoin</h3>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="To Address"/>
            </div>
            <input type="text" class="form-control" placeholder="Amount"/>
            <button type="button" class="btn btn-default">Get New Address</button>
          </form>
        </div>
      </div>
      #}

      <div style="height: 300px;"></div>
    </div>

    <script src="static/app.js"></script>
  </body>
</html>
